:root {
    --blue-vercel: #0072F5;
}

div[layout="image-right"] > .w-full {
    background-size: contain !important;
}

tr {
    font-size: 80%;
    height: 1.4rem;
}

code {
    font-family: "Fira Sans", monospace;
}

.task-list-item {
    display: flex;
    align-items: center;
}

.task-list-item-checkbox {
    margin-right: 12px;
}

